<ion-header [translucent]="false">
  <ion-toolbar>
    <ion-title>
      Cadastro
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div >
    <!--o cadastro de nome é separado em duas partes-->
    <ion-item>
      <ion-input type="text" [(ngModel)]="nome" placeholder="Digite seu nome">
        <ion-label>Nome :</ion-label>
      </ion-input>
    </ion-item>

    <ion-item>
      <ion-input type="text" [(ngModel)]="sobrenome" placeholder="Digite seu sobrenome completo" >
        <ion-label>Sobrenome :</ion-label>
      </ion-input>
    </ion-item>

    <ion-list>
      <ion-radio-group value="" [(ngModel)]="sexo">

        <ion-item>
          <ion-label>Você se identifica como:</ion-label>
        </ion-item>
        
        <ion-item>
          <ion-label>Homem</ion-label>
          <ion-radio slot="start" value="m"></ion-radio>
        </ion-item>
    
        <ion-item>
          <ion-label>Mulher</ion-label>
          <ion-radio slot="start" value="f"></ion-radio>
        </ion-item>
    
        <ion-item>
          <ion-label>Outros</ion-label>
          <ion-radio slot="start" value="o"></ion-radio>
        </ion-item>
      </ion-radio-group>
    </ion-list>

    <ion-item>
      <ion-input type="text" [(ngModel)]="fone" placeholder="Digite seu número de telefone ou celular">
        <ion-label>Contato :</ion-label>
      </ion-input>
    </ion-item>
    <p>*Por favor digite neste formato: xx xxxxx-xxxx</p>

    <ion-item > 
      <ion-input type="email" [(ngModel)]="maile" placeholder="Digite um e-mail para cadastro">
        <ion-label>E-mail :</ion-label>
      </ion-input>
    </ion-item>
    <p>* este e-mail será usado para fazer o login</p>

    <ion-item>
      <ion-input type="password" [(ngModel)]="senh" placeholder="Digite a senha desejada">
        <ion-label>Senha :</ion-label>
      </ion-input>
    </ion-item>
    <p>* A senha deve ter se 6 a 10 dígitos</p>

    <ion-item>
      <ion-input type="password" [(ngModel)]="csenha" placeholder="Confirme a senha desejada">
        <ion-label>Senha :</ion-label>
      </ion-input>
    </ion-item>
    <p>* Digite novamente a senha anterior</p>

    <ion-item>
      <ion-input type="text" [(ngModel)]="cpf" placeholder="Digite seu número de CPF">
        <ion-label>CPF :</ion-label>
      </ion-input>
    </ion-item>
    <p>* apenas números</p>

    <ion-item>
      <ion-input type="text" placeholder="Digite seu CEP" [(ngModel)]="cep">
        <ion-label>CEP :</ion-label>
      </ion-input>
      <ion-button (click)="runHttp()">
        <ion-label>Pesquisar cep</ion-label>
      </ion-button>
    </ion-item>
    
    <ion-item *ngIf="endereco != null"><ion-label>Logradouro: {{endereco.logradouro}} </ion-label></ion-item>
    <ion-item *ngIf="endereco != null"><ion-label>Bairro: {{endereco.bairro}}</ion-label></ion-item>
    <ion-item *ngIf="endereco != null"><ion-label>Localidade: {{endereco.localidade}} </ion-label></ion-item>
    <ion-item *ngIf="endereco != null"><ion-label>Complemento: {{endereco.complemento}} </ion-label></ion-item>
    <ion-item *ngIf="endereco != null"><ion-label>UF: {{endereco.uf}} </ion-label></ion-item>
    <ion-item *ngIf="endereco == null"><ion-label>Logradouro:  </ion-label></ion-item>
    <ion-item *ngIf="endereco == null"><ion-label>Bairro: </ion-label></ion-item>
    <ion-item *ngIf="endereco == null"><ion-label>Localidade: </ion-label></ion-item>
    <ion-item *ngIf="endereco == null"><ion-label>Complemento:  </ion-label></ion-item>
    <ion-item *ngIf="endereco == null"><ion-label>UF: </ion-label></ion-item>

  </div>
  <ion-button (click)="cadastra()">confirmar</ion-button>
  <ion-button routerLink="/home">cancelar</ion-button>
</ion-content>