<ion-content>

  <ion-item>
    <img src="..\assets\logobemol.png"/>

  </ion-item>
  
  <ion-item class="ion-text-center">
    <ion-icon name="person" item-left></ion-icon>
    <ion-input type="text" [(ngModel)]="username" placeholder="Login"></ion-input>
  </ion-item>

  <ion-item class="ion-text-center">
    <ion-icon name="key" item-left></ion-icon>
    <ion-input [(ngModel)]="pass" type="password" placeholder="Senha"></ion-input>
  </ion-item>
  
  <ion-item>
    <ion-button>login</ion-button>
  </ion-item>

  <ion-item >
    <ion-button expand="block" routerLink="/cadastro" >cadastro</ion-button>
  </ion-item>

</ion-content>
